title: a/s/l

-----------------------META

<div id='bout'>
  <h2>a/s/l</h2>
  <img class='me' src='/images/mmhmm.jpg' />

  <p class='details'>
    I am a handsome developer that works with a bunch of other handsome men and women at
    <a href='http://thisismedium.com/'>medium</a>
    in Chattanooga, TN.
  </p>
  <p class='details'>
    I enjoy building things, so if you're into that, we could probably pillow fight or something.
  </p>

  <p class='details'>Oh, and i'm also a peggle extreme grand master.</p>
  <div class='clear'></div>

</div>

<div id='projects'>
  <h3>projects</h3>

  <div class='project'>
    <p>
      <a href='http://github.com/blahed/frank'><em>Frank</em></a> &#8212;
      Inspired by Sinatra's simplicity and ease of use, Frank lets you build static sites using your favorite libs. Frank has a built in development server for previewing work as you develop. Frank also has a &ldquo;dump&rdquo; command for compiling and saving your work out to static html and css.
    </p>
  </div>

  <div class='project'>
    <p>
      <a href='http://github.com/blahed/reland'><em>Reland</em></a> &#8212;
      A collaborative real time drum machine powered by <a href='http://relay.io'>relay.io</a>.
    </p>
  </div>

  <div class='project'>
    <p>
      <a href='http://tmpload.com'><em>tmpload</em></a> &#8212;
      Super simple file sharing tool. Choose a file, and choose how long it stays up (one download or two days).
    </p>
  </div>
</div>