title: a/s/l

-----------------------META

<img class='me' src='/images/mmm.png' />

<p>
  I enjoy <a href='http://github.com/blahed'>building things</a>, so if you&#39;re into that, cool... if not, we can <br /> <a href='http://twitter.com/blahed' class='last'>probably pillow fight or something</a>.
</p>