title:

-----------------------META

<!-- <img class='me' src='/images/mmm.png' /> -->

<p>
  I&#39;m a self-made Developer that doesn&#39;t believe you need a Computer Science degree to build good things,
  but I totally respect the nerdy Computer Science people.
</p>

<p>
  I like to pretend that I only program to build things, but for some reason I really enjoy rewriting
  code.
</p>

<p>
  I started using <a href="http://en.wikipedia.org/wiki/Blackbox" title="Blackbox Window Manager">linux</a> when I was 13ish and I&#39;m 27 now... I still have to check the man pages for how to use `find' with the `-exec' switch.
</p>

<p>
  I started trying to teach myself c++ around age 14, that didn&#39;t work. I tried to learn java around age 15, no luck.
  Sometime around age 18 I found <a href="http://www.ruby-lang.org/" title="The Ruby Programming Language">ruby</a>, it clicked, and it hasn&#39;t stopped clicking.
</p>

<p>
  I write a little python and javascript occasionally, but it hurts a little when I use other languages, not because
  they are bad, but because I think ruby is so good.
</p>

<p>
  I work way too much on ideas that&#39;ll never see the light of day... but every now and then <a href="https://github.com/blahed" title="Github Repositories">a few of them do</a>.
</p>

<p>
  I enjoy thinking about products, interfaces, and design. In that order.
</p>

<p>
  I started <a href="http://50east.co/" title="50 East">50 East</a> when my dream job fell apart, and 50 East is the place where I get to think about products, interfaces, and design.
</p>