html { color: #aaa; background: #101010; }

.content { width: 640px; margin: 120px auto; }
.content .me { display: block; margin: 20px auto 40px auto; }
.content p { font-size: 22px; line-height: 28px; font-family: Helvetica Neue, Arial, sans-serif; text-align: center; margin-bottom: 60px; }

.content p a { color: #666; text-decoration: none; font-family: Helvetica Neue, Arial, sans-serif; }
.content p a:hover { border-bottom: 1px solid #E9E54C; }

h1 { margin: 120px 0 40px 0; font-size: 186px; text-align: center; font-family: 'Trade Winds', cursive;}
h1 a { color: #E9E54C; text-decoration: none; }
h1 a.asl { color: #333; }