<!DOCTYPE html>
<html>
  <head>
    <title>Blahed<%= " - #{title}" if defined? title %></title>
    <link href='/css/reset.css' rel='stylesheet' type='text/css' />
    <link href='/css/styles.css' rel='stylesheet' type='text/css' />
    <script src='/js/jquery-1.4.2.min.js' type='text/javascript'></script>
    <script src='/js/y.es' type='text/ecmascript'></script>
    <%= additional_script(@current_path) %>
  </head>
  <body>
    <div id='wrapper'>
      <a href='/asl' class='about'><% if @current_path =~ /\/asl/ %>?<% else %>&iquest;<% end %></a>
      <h1><a href='/'>..</a></h1>
      <div id='main'><%= yield %></div>
    </div>
    <%= refresh %>
    <!-- <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1406322-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script> -->
  </body>
</html>